ol.slideshow
{
    margin: 0;
    width:  760px;
    height: 415px;
    position: relative;
    list-style: none;
}

ol.slideshow > li
{
    position: absolute;
    top: 0; left: 0;
}

ol.slideshow > li img
{
    width: 760px;
    height: 415px;
    display: block;
}

article.news {
    border-top: #111 1px solid;
    padding-top: 5px;
    margin: 10px 20px;

    font-family: Georgia, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.4em;

    overflow: hidden;
}

    article.news span.date {
        margin-bottom: 5px;
        display: block;
        font-size: small;
        color: #888;
    }

    article.news div.content {
    }
