/* Imports */
@import url("reset.css");


/* Fonts */
@font-face {
  font-family: "Visitor";
  src: url(../fonts/visitor1.ttf) format("truetype");
}

/***** Global *****/

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
	font-family: "Visitor", monospace;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

html, body {
    width: 100%;
    height: 100%;
    background: #1A1A1A;
    position: relative;
    overflow: auto;
}

div.page {
    background: #000;
    color: #f0f0f0;
    width: 760px;
    margin: 50px auto 0 auto;
    min-height: 500px;

    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #111;
}

    div.page > header {
        background: url('../images/header.png') center no-repeat;
        width: 100%;
        height: 100px;
    }
    
    div.page h2 {
        margin: 10px 20px;
    }

    div.page hr {
        margin: 0 10px;
        border-style: 1px solid;
        border-color: #222;
    }
